name: Playwright Tests (Docker)

on:
  push:
    branches: [ develop ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build --build-arg PLAYWRIGHT_TAG=v1.57.0-noble -t pw-e2e .

      - name: Run tests in Docker
        run: docker run --rm pw-e2e